{% extends "base.html" %}
{% load static %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}
        <div id="content" class="float_r">
        	<h1>{{ product.name }}</h1>
            <div class="content_half float_l">
                {% if product.image %}
                    <a class="prod" href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}"   width="200 px" height ="150 px" alt="{{ product.name }}" /></a>
                {% else %}
                    <a class="prod" href="{{ product.get_absolute_url }}"><img src="{% static 'image/no_image.png' %}" width="200 px" height ="150 px" alt="{{ product.name }}" /></a>
                {% endif %}
            </div>
            <div class="content_half float_r">
                <table>
                    <tr>
                        <td width="160">Цена:</td>
                        <td>{{ product.price }}</td>
                    </tr>
                    <tr>
                        <td>Наличие:</td>
                        {% if product.available %}
                            <td>В наличии</td>
                        {% else %}
                            <td>Нет наличии</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Категория:</td>
                        <td>{{ product.category }}</td>
                    </tr>
                    <tr>
                        <td>Артикул:</td>
                        <td>{{ product.id }}</td>
                    </tr>
                </table>

                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <div class="cleaner h20"></div>
                    <input type="submit" class="add_to_cart" value="Добавить в корзину">
                </form>

			</div>
            <div class="cleaner h30"></div>
            {% if product.description %}
                <h3>Описание</h3>
                <blockquote>>{{ product.description }}</<blockquote>>
            {% endif %}
          <div class="cleaner h50"></div>
        </div>
{% endblock %}


