{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block active %} selected {% endblock %}

{% block content %}
    <h1 class="decor list">{% if category %}{{ category.name }}{% else %}Все товары нашего каталога{% endif %}</h1>
    {% for product in products %}
        <div class="product_box">
            <h3>{{ product.name }}</h3>
            {% if product.image %}
                <a class="prod" href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}"   width="200 px" height ="150 px" alt="{{ product.name }}" /></a>
            {% else %}
                <a class="prod" href="{{ product.get_absolute_url }}"><img src="{% static 'image/no_image.png' %}" width="200 px" height ="150 px" alt="{{ product.name }}" /></a>
            {% endif %}
            {% if product.available %}
                <p>В наличии</p>
            {% else %}
                <p>Нет наличии</p>
            {% endif %}
            <p class="product_price">{{ product.price }} BYN</p>
<!--            <a href="{% url 'cart:cart_add' product.id %}" class="addtocart"></a>-->
<!--            <a href="{{ product.get_absolute_url }}" class="detail"></a>-->
            <a href="{% url 'cart:cart_add' product.id %}">
                <img src="{% static 'images/cart2.png' %}" class="cart"  width="30 px" height ="30 px"  alt="Add to cart">
            </a>
        </div>
    {% endfor %}
     <div class="cleaner"></div>
    {% if is_qs_paginated %}
        <div class="center">
            <div class="pagination">
                {% if not prev_page %}
                    <a class="dis">&laquo;</a>
                {% else %}
                    <a href="{{ prev_page }}" >&laquo;</a>
                {% endif %}
                {% for n in products.paginator.page_range %}
                    {% if products.number == n %}
                        <a href="?page={{ n }}" class="active">{{ n }}</a>
                    {% elif n > products.number|add:-3 and n < products.number|add:3 %}
                        <a href="?page={{ n }}">{{ n }}</a>
                    {% endif %}
                {% endfor %}
                {% if not next_page %}
                    <a class="dis">&raquo;</a>
                {% else %}
                    <a href="{{ next_page }}">&raquo;</a>
                {% endif %}
            </div>
        </div>
        <div class="cleaner"></div>
    {% endif %}
{% endblock %}