{% extends "base.html" %}
{% load static %}

{% block title %} Доставка {% endblock %}

{% block content %}
    <div id="content" class="float_r">
        <h3>Доставка</h3>
        <div class="cleaner"></div>
            <blockquote>
                <h3>Самовывоз</h3>
                    Самовывоз возможен из города Минска. Адрес и условия самовывоза уточняйте по контактным данным, указанным на странице
                    <a href="{% url 'shop:contacts' %}">Контакты</a>.
                    <br>При желании забрать заказ из нашего офиса, рекомендуем Вам предварительно позвонить для уточнения наличия товара.
                    <br>Вы всегда можете посетить наш офис и приобрести понравившуюся продукцию «на месте».
                    <br>Самовывоз бесплатен, покупатель оплачивает только стоимость товара.
            </blockquote>
        <div class="cleaner h20"></div>
        <h3>Курьером по Минску</h3>
            <p>Доставка осуществляется каждый день, кроме выходных дней. Заказ должен быть обязательно обработан нашими менеджерами, а время доставки согласовано с клиентом по телефону.</p>
        <div class="cleaner h20"></div>
        <h3>РУП "Белпочта"</h3>
        <p>Отправка посылки "Первым классом". Получить посылку можно в ближайшем к Вашему дому почтовому отделению. Сроки доставки зависят целиком и полностью от работы службы РУП «Белпочта».</p>
        <ul class="tmo_list">
        	<li>Оплата при получении (наложенный платеж)
                <br>Вы оплачиваете общую сумму при получении в отделении РУП "Белпочта".
                <br>В общую сумму оплаты включены:
                <br> - Стоимость заказанного товара в нашем магазине (фиксированная на момент оформления заказа!).
                <br> - Услуги РУП "Белпочты", которые рассчитываются по официальным тарифам, исходя из веса, отдаленности пункта назначения, страхового сбора и упаковочного материал.
            </li>
            <li>Полная оплата заказа и стоимости доставки
                <br> <p>
                    Сумма рассчитывается из стоимости товара (фиксированная на момент оформления заказа!) и стоимости доставки вместе с упаковочным материалом РУП "Белпочты".
                    Вы забираете заказ в ближайшем почтовом отделении. Никаких дополнительных платежей при получении нет.
                </p>
            </li>
		</ul>
        <div class="cleaner h20"></div>
        <img src="{% static 'images/dolly.png' %}" class="payment" alt="payment">
    </div>
{% endblock %}