div#templatemo_main {
    min-height: calc(100vh - 80px);
}

.decor {
/*  text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;*/
  color: #696969;
  transition: all 1s;
  }
  .decor:hover {
    color: steelblue;
      }




.product_box:hover {
    box-shadow: 0 0 5px rgba(0,9,90,0.5);
}

img.cart: {
  width: 30 px;
  height: 30 px;
  
}



img.cart:hover {
    box-shadow: 0 0 5px grey;
    border-radius: 10px;

}

label.redirect_copy {
    min-width: 200px;
}

.order-form {
    float: left;
}

input#id_copy {
    width: 13px;
    clear: inherit;
}


form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#665f5f;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

input[type="submit"]:hover {
    background-color: #056873;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #0299aa;
}

.order-info h3 {
    color:#0299aa;
}

.order-info p {
    font-weight:bold;
    float:right;
}


input[type="image"]:hover {
    box-shadow: 0 0 4px green;
    border-radius: 10px;
}

/*h1.decor {
    padding-left: 250px;
}*/


.decor.cart {
  padding-left: 300px;
}


/*h1.decor.list {
  padding-left: 150px;
}*/


img.empty {
    margin-left: 370px;
}


img.payment {
    margin-left: 250px;
}


.coupons {
    float: left;
}


input[type="submit"] {
    width: 70px;
}

input.order_btn {
    width: 323px;
}

input.apply_coupon {
    width: 120px;
}

label.coupons_label {
    margin-right: 10px;
}

input#submit {
    width: 100px;
}

textarea#id_message {
    width: 300px;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px 12px;
    border: 0;
    background: #efefef;
    color: #666;
    border-radius: 4px;
}


/*Product detail*/
label {
    font-size: larger;
    margin-left: 9px;
    margin-right: 100px;
}



input#id_code {
    height: 29px;
}



/*Cart*/

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

thead th, tbody tr.total {
    background:#999;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}


/*Paginator*/

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a.active {
  background-color: #0299aa;
  color: white;
  border-radius: 5px;
}

a.dis {
    color: #999;
}

.center {
  text-align: center;
}

input.add_to_cart {
    width: 200px;
}

input#id_quantity {
    width: 35px;
}