{% extends "base.html" %}
{% load static %}

{% block title %} О нас {% endblock %}

{% block about %}
    <div id="content" class="float_r">
        <h3>О нас</h3>
        <div class="cleaner"></div>
            <blockquote> Интернет магазин "Ship Store"  занимается розничной продажей электронных компонентов.
                Основным направлением деятельности -  комплексное обеспечение предприятий и организаций радиоэлектронными комплектующими, измерительными приборами и инструментами, а также электротехнической продукцией как отечественного, так и импортного производства.
        </blockquote>
        </div>
        <div class="cleaner h20"></div>
        <h3>Наши преимущества</h3>
        <ul class="tmo_list">
        	<li>Уникальный и самый узнаваемый бренд на рынке электроники.</li>
            <li>Уникальный комплекс know how и компетенций, направленных на обслуживание клиентов.</li>
            <li>Не имеющая аналогов сеть удобных розничных магазинов с офисами оптовых продаж.</li>
            <li>Развитый клиентский онлайн-сервис сопровождения сделки. Высокий уровень автоматизации сервиса.</li>
            <li>Передовая, автоматизированная логистика и самый большой склад для электронных компонентов</li>
            <li>Наилучшая на рынке электроники скорость доставки товара до клиента.</li>
		</ul>
        <div class="cleaner h20"></div>
    </div>
{% endblock %}