{% extends "initial_base.html" %}
{% load static %}

{% block title %} Главная {% endblock %}

{% block category %}
    <div id="sidebar" class="float_l">
        <div class="sidebar_box"><span class="bottom"></span>
            <h3>Категории</h3>
            <div class="content">
                <ul class="sidebar_list">
                    {% for c in request.category_list %}
                        <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}



